LIVEVIEW_SIGNING_SALT= # generate with $(mix phx.gen.secret 32)
SECRET_KEY_BASE= # generate with $(mix phx.gen.secret)`

# google sheet support
GOOGLE_SERVICE_KEY= # the big 'ol JSON google service key'
VOTER_CODE_SHEET_ID="h0yuyL4E1hNjPOILrTYkHayKrfaWKJNLpidZrwFX3ZiM" # for example...
VOTE_ARCHIVE_SHEET_ID="KrsQ2vNjd55flV0tRjBNKKyGgxu3FRsKJhdtF4MmR0Kd" # for example...

ADMIN_LOGIN_CODE="abcd"


DEFAULT_VIDEO_PROVIDER="aws_ivs"
AWS_IVS_STREAM_URL=
STREAMSHARK_STREAM_URL=

SMTP_USERNAME="myemail@example.com"
SMTP_PASSWORD=# your SMTP password
EMAIL_FROM=#"no-reply@example.com"