
  <div class="chat-layout">
    <div class="embed-chat-container">
      <%= live_render(@conn, PollinatrWeb.ChatLive, container: {:div, class: "liveview-chat-module"}) %>
    </div>
    <div class="vote-chat-scroll-tip">
      <i class="fas fa-arrow-down"></i>Vote<i class="fas fa-arrow-down"></i>
    </div>
    <div class="embed-vote-container">
          <%= live_render(@conn, PollinatrWeb.VoterLive) %>
    </div>

  </div>