@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-active {
  @apply bg-theme-secondary text-theme-primary
}
.btn-vote {
  @apply font-bold py-2 px-4 mx-4 rounded;
}
.btn-default {
  @apply bg-theme-primary text-theme-secondary;
}
.btn-default:hover {
  @apply bg-blue-700;
}


 .message-text {
   font-style: italic;
 }

 .content-body {
   display: flex;
/*   flex-grow: 1;*/
   align-content: center;
   margin:  3rem;
   background-color: rgba(0,0,0,0.85);
   position: relative;
   min-width: 100%;
   /*min-height: 40rem;*/
   align-items: stretch;
   /*min-height: calc(100vh - 6rem);*/
 }

 .flex-enabled-liveview {
  display: flex;
  flex: 1;
 }


 li {
   margin-bottom: .5rem;
 }

 .fas.fa-vote-yea.vote-counted {
   font-size: 10rem;
   color: #62fc65;
 }

 .resultscontainer {
   height: calc(100vh - 6rem);
   overflow-y: hidden;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
 }

 .chart-container {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   flex-grow: 2;
 }

 .results.chart {
   padding: 3rem;
 }

 .results.headline {
   text-align: center;
   line-height: 125%;
   font-size: 8rem;
   font-weight: bold;
   font-family: "futura", sans-serif;
   font-weight: 9000;
   -webkit-text-stroke-color: black;
 }

 .results.headline.question {
   -webkit-text-stroke-width: .2rem;
 }

 .results.headline.answers {
   display: inline;
   -webkit-text-stroke-width: .4rem;
 }

 .results.headline.answerset {
   display: inline;
   padding: 4rem;
 }

 .results.headline.answer {
   font-size: 14rem;
   display: inline;
   text-transform: uppercase;
   /*float: left;*/
 }

 .results.headline.result {
   display: inline;
   font-size: 14rem;
   /*float: left;*/
 }

 .results.headline.answer[answer=No] {
   color: red;
 }

 .results.headline.answer[answer=Yes] {
   color: blue;
 }

 .unsubscribe.container {
   text-align: center;
 }

 .unsubscribe.title {
   font-size: 4rem;
 }

 .unsubscribe.content {

 }


 .vote-chat-scroll-tip {
   text-align: center;
   /*height: 6rem;*/
   color: #F2BC23;
   font-size: 3rem;
   font-weight: 600;
   /*min-height: 8rem;*/
   /*background: #F2BC23;*/
 }

 @media (min-height: 80rem) {
   .vote-chat-scroll-tip {
     display: none;
   }
 }

 .ellipsis-anim span {
   opacity: 0;
   -webkit-animation: ellipsis-dot 5s infinite;
   animation: ellipsis-dot 5s infinite;
 }
 .ellipsis-anim span:nth-child(1) {
   -webkit-animation-delay: 0.0s;
   animation-delay: 0.0s;
 }
 .ellipsis-anim span:nth-child(2) {
   -webkit-animation-delay: 0.5s;
   animation-delay: 0.5s;
 }
 .ellipsis-anim span:nth-child(3) {
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
 }

 @-webkit-keyframes ellipsis-dot {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
 }

 @keyframes ellipsis-dot {
   0% { opacity: 0; }
   50% { opacity: 1; }
   100% { opacity: 0; }
 }

 body:not(.embedded) {
  background-image: url("/images/glitter_bg.jpg");
  background-color: #000000;
  color: #e3e3e3;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
  /*padding: 4rem;*/
  /*overflow-y: hidden;*/
}





/* Alert toasts styling */
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #243d6c;
  background-color: #dae3f5;
  border-color: #cbd8f2;
}
.alert-primary hr {
  border-top-color: #b7c9ed;
}
.alert-primary .alert-link {
  color: #172746;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
.alert-secondary hr {
  border-top-color: #c8cbcf;
}
.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-success hr {
  border-top-color: #b1dfbb;
}
.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-info hr {
  border-top-color: #abdde5;
}
.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-warning hr {
  border-top-color: #ffe8a1;
}
.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-danger hr {
  border-top-color: #f1b0b7;
}
.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-light hr {
  border-top-color: #ececf6;
}
.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
.alert-dark hr {
  border-top-color: #b9bbbe;
}
.alert-dark .alert-link {
  color: #040505;
}

.alert:empty {
  display: none;
}